@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: rgb(37, 36, 36);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  height: 100vh;
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 2.5vw, 4rem);
  font-weight: 900;
}

h2,
h3 {
  font-weight: 200;
}

main {
  width: 100%;
  height: 100%;
}

#login {
  border-radius: 8px;
  width: 400px;
  padding: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 40%);
}

#app {
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  height: 100vh;
}

.weather-illustration {
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.weather-illustration img {
  width: 100%;
  height: 100%;
}

hr {
  width: 10%;
  margin: 20px auto 5px;
}

#login div {
  padding: 0.5rem 0;
}

.hero-box {
  margin: 0 auto;
  width: 50%;
}

.name-input_box input, #request input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px;
  width: 100%;
  background: none !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: black;
}

.name-input_box input::placeholder, #request input {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: black;
}

.btn {
  line-height: 20px;
  height: 100%;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(94, 94, 94, 0.1);
  transition: all 0.3s;
}

.btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(223, 217, 217, 0.5);
  transform: scale(1.2, 1.2);
}

.btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

button {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  background: none;
}

.hidden {
  display: none;
}

.weather-info {
  display: flex;
  justify-content: space-between;
}

.weather-icons {
  width: 25px;
}

#request{
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  padding: 2rem;
}

.menu{
  position: absolute;
}

.menu:hover, .close:hover{
  cursor: pointer;
}

#request header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.close{
  width: 30px;
}


